#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/socket.io.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/sails.io.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<input type="text" id="question"><button id="questionBtn">Sockettome Doc!</a>
<div id="answer"></div>